html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #aee976;
  /* background: linear-gradient(#7ccfc4, #1f4041); */
}
